/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

body{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: var(--color-title);
}

:root {
	--color-bg-nav: #000000;
	--color-bg-content: #141922;
	--color-toolbar: #282828;
	--color-title: #f7f7f7;
}

.debug{
    border: 2px solid red;
}

/* header */
.header{
    background-color: rgba(0,0, 0,0.5);
    /* opacity: 0.4; */
    width: calc(100% - 200px);
    height: 60px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 200px;
}

.btn{
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 0.7rem;
}

.btn:hover{
    cursor: pointer;
    scale: 1.2;
}

/* wrapper */
.wrapper{
    height: 100vh;
    overflow: hidden;
}

/* content */
.content{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: var(--color-bg-content);
}

/*****************/
/* sidebar */
#sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
    margin: 0;
}

/*****************/
/* sidebar top */
.sidebar-top{
    height: calc(100% - 80px);
    width: 100%;
}

.logo{
    padding: 5px 10px 20px 10px;
}

.logo-small{
    display: none;
    padding: 5px;
}

.sidebar-top .nav img{
    height: 27px;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.sidebar-top .nav li a span{
    font-size: 0.7rem;
    font-weight: bold;
}

.sidebar-top .nav li{
    opacity: 0.8;
    color: white;
    border-left: 3px solid transparent;
}

.sidebar-top .nav li:hover{
    opacity: 1;
    border-left: 3px solid greenyellow;
}

.sidebar-top .nav li{
    padding: 0 5px 5px 10px;
}

/*****************/
/* crea playlist */

.playlist{
    padding-top: 15px;
    padding-left: 13px;
}

.add-playlist{
    padding-top: 10px;
    opacity: 0.7;
}

.add-playlist:hover{
    opacity: 1;
}

.add-playlist a span::before{
    content: "\002B";
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-bg-nav);
    background-color: white;
    margin-right: 10px;
}

.add-playlist a span{
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.playlist ul li{
    padding-top: 10px;
    font-size: 0.7rem;
    opacity: 0.5;
    font-weight: 600;
}

.playlist ul li:hover{
    opacity: 1;
}

#sidebar .sidebar-top .playlist ul{
    height:calc(100% - 49px);
    overflow-y: auto;
}

.playlist{
    min-height: 0;
    overflow-y: hidden;
}

/******************/
/* sidebar bottom */

.sidebar-bottom{
    height: 80px;
    width: 100%;
    background-color: var(--color-bg-nav);
}

.sidebar-bottom-container{
    width: 80%;
    margin-left: 13px;
}

.sidebar-bottom hr{
    width: 100%;
    margin-bottom: 5px;
    opacity: 0.5;
}

.sidebar-bottom-container div{
    margin-left: 0;
    padding-bottom: 5px;
}

.sidebar-bottom .download img{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-bottom-container .download span{
    padding-left: 5px;
    font-size: 0.6rem;
    font-weight: 600;
}

.sidebar-bottom-container .download{
    opacity: 0.5;
}

.sidebar-bottom-container .download:hover{
    opacity: 1;
}

.sidebar-bottom .profile img{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: lightslategray;
    border-radius: 50%;
}

.sidebar-bottom .profile span{
    padding-left: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

/* navbar */
.navbar li a{
    text-decoration: none;
    color: var(--color-title);
    display: block;
    padding: 10px;
}

.navbar{
    font-size: 0.7rem;
    font-weight: bold;
    max-width: 700px;
    margin: auto;
}

.navbar ul{
    justify-content: space-between;
}

.navbar ul li{
    opacity: 0.5;
}

.navbar ul li:hover{
    opacity: 1;
}

.navbar ul li a:after{
    content:'';
    position: absolute;
    background-color: transparent;
    transition: 0.5s ease;
    transform: translateX(-50%); 
    width: 0;
    height: 3px;
    bottom: 8px;
    left: 50%;
}

.navbar ul li a:hover::after{
    content:'';
    position: absolute;
    background-color: greenyellow;
    width: 50%;
    height: 3px;
    bottom: 8px;
    left: 50%;
}


/* main */
main{
    width: calc(100% - 200px);
    background-color: var(--color-bg-content);
    overflow-y: auto;
    padding: 80px 20px 20px 20px;
}

.cover{
    width: calc(100% / 6);
    padding: 20px 10px;
}

.cover .img{
    opacity: 1.0;
}

.cover:hover .song-cover img{
    opacity: 0.5;
}

.song-cover::after{
    font-family: "Font Awesome 6 Free";
    content:'\f144';
    position: absolute;
    font-size: 3rem;
    color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cover:hover .song-cover::after{
    color: white;
    /* transition: 0.8s ease; */
    animation: pulse-animation 2s infinite;
}
  
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.title, .subtitle, .description{
    padding: 0 10px;
}

.title{
    font-size: 1.2rem;
}

.description{
    font-size: 0.6rem;
    color: lightslategray;
}

.song-title{
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
}

.song-author{
    color: lightslategray;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
}

/***********/
/* toolbar */
.toolbar{
    height: 90px;
    background-color: var(--color-toolbar);
}

.toolbar .left,
.toolbar .right{
    width: 20%;
}

.toolbar .left img{
    width: 50px;
    padding-left: 5px;
}

.toolbar h6{
    font-size: 0.7rem;
    opacity: 0.5;
}

.toolbar h6:hover{
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.toolbar .fa-heart,
.toolbar .fa-folder{
    opacity: 0.5;
}

.toolbar .fa-heart:hover,
.toolbar .fa-folder:hover{
    opacity: 1;
    cursor: pointer;
}

/******************/
/* toolbar center */

.toolbar .center{
    flex-grow: 0.5;
}

.player-buttons{
    max-width: 200px;
    height: 60%;
    margin: 0 auto;
}

.player-buttons .fa-circle-play{
    font-size: 2rem;
}

.player-buttons .fa-circle-play:hover{
    scale: 1.1;
}

.toolbar .progress-bar{
    font-size: 0.6rem;
}

.progress-bar-time{
    width: 90%;
}

.progress-bar-volume{
    width: 90%;
}

/* progress bar */
/* annullo tutte le impostazioni di default dei browser */

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* definisco la track */

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 8px;
    border-radius: 5px;
}

/* definisco il thumb */
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    margin-top: -4px;
    background-color: transparent;
    height: 14px;
    width: 14px; 
    border-radius: 50%; 
}

input[type="range"]::-webkit-slider-runnable-track:hover 
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    margin-top: -4px;
    background-color: red;
    height: 14px;
    width: 14px; 
    border-radius: 50%; 
}

input[type="range"]::-moz-range-thumb{
    border: none;
    border-radius: 0;
    background-color: #5cd5eb;
    height: 14px;
    width: 14px; 
}


/* .toolbar input[type="range"]:hover{
    accent-color: coral; 
    cursor: pointer;
}

.toolbar input[type="range"]::-webkit-slider-thumb,
.toolbar input[type="range"]::-moz-range-thumb,
.toolbar input[type="range"]::-ms-thumb{
    background-color: red;
} */


/*
input[type="range"] {
    -webkit-appearance: none;
    /* margin-right: 15px; */
    /* width: 200px; 
    height: 7px;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    background-image: rgba(255, 255, 255, 0.521);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
  
input[type="range"]:hover {
    -webkit-appearance: none;
    /* margin-right: 15px; */
    /* width: 200px; 
    height: 7px;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    background-image: linear-gradient(#ff0000, #ff0000);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: lightslategray;
*/

    /* box-shadow: 0 0 2px 0 #555; */
    /* transition: background .3s ease-in-out; */

/* utility flex */

.d-flex{
    display: flex;
}

.f-column{
    display: flex;
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.j-start{
    justify-content: flex-start;
}

.j-center{
    justify-content: center;
    align-items: center;
}

.j-end{
    justify-content: flex-end;
}

.a-center{
    align-items: center;
}

.item-a-center{
    align-items: center;
}

.sp-between{
    justify-content: space-between;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

/* position */

.p-rel{
    position: relative;
}

.p-abs{
    position: absolute;
}

/* utility padding */
.pd-t-5{
    padding-top: 5px;
}

.pd-t-10{
    padding-top: 10px;
}

/* utility margin */
.no-mg{
    margin: 0;
}

.mg-b-20{
    margin-bottom: 20px;
}

.mg-r-30{
    margin-right: 30px;
}

/* utility color */
.txt-title{
    color: var(--color-title);
}

/* utility text */
.txt-uppercase{
    text-transform: uppercase;
}

.txt-bold{
    font-weight: bold;
}

/* a decoration */

a{
    text-decoration: none;
    color: white;
}


/*************/
/*||||||||||*/
/* MEDIA QUERY */

/*  */
@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 992px){
    
    .cover{
        width: calc(100% / 4);
    }

}

@media screen and (max-width: 768px){
    
    .cover{
        width: calc(100% / 2);
    }

    .navbar{
        max-width: 400px;
        margin-bottom: 20px;
    }
    
    .navbar ul{
        justify-content: space-evenly;
    }
}